:root {
  --main-color: #f2f2f2;
  --secondary-color: #292525;
}

[data-theme="dark"] {
  --main-color: black;
  --secondary-color: #f2f2f2;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
  width: 100wv;
  color: var(--secondary-color);
  transition: ease-in 0.5s;
}

.main-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--secondary-color);
}
.home-container {
  width: 50%;
  border: 7px double var(--secondary-color);
  margin: 10px auto;
}
.game-container {
  width: 40%;
  border: 5px double var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  height: 97vh;
}
.button {
  text-transform: uppercase;
  background: #292525;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
}
.input-button-section,
.output-button-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.output-button-section {
  height: 100%;
  width: 100%;
}
.output-button-section::after {
  content: "";
  width: 100%;
  border-bottom: 5px double var(--secondary-color);
}
.button-wrapper {
  border: 2px solid var(--secondary-color);
  display: flex;
  align-items: center;
  padding: 5px;
  height: 50px;
  width: 50px;
  margin: 5px;
}
.instructions h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  width: 70%;
}
.instructions,
.game-over {
  margin: 0px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}
.game-over h1 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 500;
  margin: 1.6rem;
}
.game-over h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem;
  width: 80%;
  font-weight: 300;
}
.arrow {
  width: 200px;
}
.word_duplicate-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px;
  color: var(--secondary-color);
}

.is-duplicate,
.is-invalid {
  padding: 0 50px;
  margin: 0;
  color: var(--secondary-color);
  border: 5px double var(--secondary-color);
}
.not-duplicate,
.valid {
  padding: 0 50px;
  margin: 0;
  color: rgb(0, 0, 0, 0.1);
  border: 5px double rgb(0, 0, 0, 0.1);
}
.output-button {
  min-height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.info-section span {
  border: 2px solid var(--secondary-color);
  padding: 2px 5px;
}
.info-section h1 {
  font-size: 1rem;
  text-transform: uppercase;
}
.secondary-button-container, .game-secondary-button-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.game-secondary-button-container{
  flex-direction: row;
}
.secondary-button {
  width: 100%;
  text-transform: uppercase;
  background: #292525;
  color: white;
  cursor: pointer;
  width: 95%;
  height: 100%;
  font-size: 1rem;
  margin: 5px;
}
.word-found-container {
  height: 95vh;
  width: 22%;
  border: 6px double var(--secondary-color);
  overflow: auto;
}
.word-found-container h1 {
  border-bottom: 2px solid var(--secondary-color);
  margin: 0;
  text-align: center;
}
.word-found-container p {
  text-align: center;
}
.time-score-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: 8px;
}
.time-score-section::after {
  content: "";
  width: 100%;
  border-bottom: 7px double var(--secondary-color);
}

.time-score-section h4 {
  margin: 0.3rem;
  font-size: 1.1rem;
  text-align: center;
}
.quit-button {
  border: 2px solid var(--secondary-color);
  padding: 0 5px;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.5), 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .game-container {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .time-score-section {
    padding: 3px;
  }
  .time-score-section::after {
    border-bottom: 5px double;
  }

  .time-score-section h4 {
    margin: 0.1.3rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
  .game-container {
    width: 98%;
    margin: auto;
    min-height: 100vh;
  }

  .word-found-container {
    display: none;
  }
  .output-button {
    min-height: 70px;
  }
  .output-button-section::after {
    content: "";
    width: 97vw;
    border-bottom: 5px double var(--secondary-color);
  }
  .instructions h1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
  }
  .instructions,
  .game-over {
    margin: 2px;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .is-duplicate,
  .is-invalid {
    padding: 0 10px;
    margin: 0;
    color: var(--secondary-color);
    border: 5px double var(--secondary-color);
  }
  .not-duplicate,
  .valid {
    padding: 0 10px;
    margin: 0;
    color: rgb(0, 0, 0, 0.1);
    border: 5px double rgb(0, 0, 0, 0.1);
  }
  .info-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .info-section h1 {
    font-size: 0.7rem;
    margin: 0.2rem;
  }
  .button {
    font-size: 1rem;
  }
  .button-wrapper {
    border: 1px solid;
    padding: 4px;
    height: 30px;
    width: 50px;
    margin: 4px;
  }
  .word_duplicate-section {
    margin: 5px;
  }
  .secondary-button {
    padding: 9px;
  }
  .home-container {
    width: 90%;
    border: 7px double var(--secondary-color);
    margin: 10px auto;
  }
}
@media screen and (max-width: 400px) {
  .game-container {
    width: 97%;
    margin: 0 auto;
    height: auto;
  }
  .time-score-section h4 {
    margin: 0.2rem;
    font-size: 0.9rem;
    font-weight: 800;
  }
  .word-found-container {
    display: none;
  }
  .output-button {
    min-height: 150px;
  }
  .instructions h1 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
  }
  .instructions,
  .game-over {
    margin: 2px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .is-duplicate,
  .is-invalid {
    padding: 0 10px;
    margin: 0;
    color: var(--secondary-color);
    border: 5px double var(--secondary-color);
  }
  .not-duplicate,
  .valid {
    padding: 0 10px;
    margin: 0;
    color: rgb(0, 0, 0, 0.1);
    border: 5px double rgb(0, 0, 0, 0.1);
  }
  .info-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .info-section h1 {
    font-size: 0.7rem;
    margin: 0.2rem;
  }

  .button {
    font-size: 1.3rem;
  }
  .button-wrapper {
    border: 1px solid var(--secondary-color);
    padding: 4px;
    height: 45px;
    width: 45px;
    margin: 4px;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 12px;
  }
  .word_duplicate-section {
    margin: 20px;
  }
  .menu-button-wrapper {
    border: 1px solid var(--secondary-color);
    width: 95.5%;
  }
}
nav {
  width: 100%;
  background-color: #292525;
  color: var(--main-color);
}
nav h1 {
  margin: 0rem;
  font-weight: 500;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
}
.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.home-title-section {
  display: flex;
  border-bottom: 5px double var(--secondary-color);
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.home-title-section h1 {
  font-size: 2rem;
  margin: 1rem;
  color: var(--secondary-color);
}
.menu-button-wrapper {
  border: 2px solid var(--secondary-color);
  align-items: center;
  padding: 5px;
  margin: 2px;
  height: 50px;
  width: 96.8%;
}
.home-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: stretch;
}
.home-menu-details {
  min-height: 200px;
  width: 100%;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.home-menu-details h1 {
  font-size: 2.3rem;
}
.home-menu-details p {
  font-size: 1.3rem;
  font-weight: 400;
}
.home-button-wrapper div {
  width: 100%;
}
.menu-button-wrapper .button {
  font-size: 1.2rem;
}
input[type="text"],
input[type="password"] {
  display: block;
  padding: 1rem 0.5rem;
  border: 4px double black;
  outline: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "roboto-regular", sans-serif;
  font-size: 1.4rem;
  width: 100%;
}
.next-level-info {
  display: flex;
  justify-content: space-between;
  justify-items: baseline;
  font-size: 1.2rem;
  margin: 1rem 2.9rem;
  font-weight: 400;
  width: 80%;
}
.next-level-info span {
  padding: 4px;
  font-weight: 700;
}
.modal-section {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modal-contents {
  width: 550px;
  min-height: 200px;
  border: 10px double var(--secondary-color);
  z-index: 3;
  background-color: var(--main-color);
  padding: 0px;
}
.modal-header {
  width: 100%;
  min-height: 60px;
  border-bottom: 2px solid var(--secondary-color);
}
.modal-header h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  margin: 0.5rem;
}
.modal-body h1 {
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
  margin: 1.2rem;
}
.modal-body p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
.modal-footer .secondary-button {
  width: 99%;
}
.modal-footer {
  border-top: 2px solid var(--secondary-color);
  min-height: 60px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}
